.vloneroxa{
    height: 200px;
    width: 200px;
}

.vlonelaranja{
    
    height: 200px;
    width: 200px;
}

.vlonewoo{
    
    height: 200px;
    width: 200px;
}

.cm1vlone{
    align-self: flex-end;
    position: relative;
    left: 40px;
    
}

.cm2vlone{
    align-self: flex-end;
    position: relative;
    left: 6px;
}

.cm3vlone{align-self: flex-end;
    position: relative;
    right: 34px;
}