.palacerefletiva{
    height: 200px;
    width: 200px;
}

.palacestussy{
    
    height: 200px;
    width: 200px;
}

.palacecinza{
    
    height: 200px;
    width: 200px;
}

.cm1vlone{
    align-self: flex-end;
    position: relative;
    left: 40px;
    
}

.cm2vlone{
    align-self: flex-end;
    position: relative;
    left: 6px;
}

.cm3vlone{align-self: flex-end;
    position: relative;
    right: 34px;
}

.cm1SUF{
    align-self: flex-end;
    position: relative;
    left: 30px;
}

.cm3SUF{
    align-self: flex-end;
    position: relative;
    right: 5px;
}